body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    gap: 20px;
}

.column {
    flex: 1;
}

.container {
    height: 500px;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

button:hover {
    background-color: #4cae4c;
}

p {
    text-align: center;
}

#suggestions {
    border: 1px solid #ccc;
    max-height: 100px;
    overflow-y: auto;
    position: absolute;
    background: white;
    z-index: 1;
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
}

#suggestions div:hover {
    background: #f0f0f0;
}

.inter-block {
    margin: 2em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.field {
    margin-left: 5px;
}

.readonly {
    background-color: #ccc;
}

.button-action {
    margin-left: 20px;
}

button {
    /* width: 100%; */
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.up-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#account-button {
    background-color: #5cb85c;
}

#logout-button {
    background-color: #d9534f;
}

#account-button:hover {
    background-color: #4cae4c;
}

#logout-button:hover {
    background-color: #c9302c;
}

.notify-field {
    margin-left: 20px;
}